@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg_site:#F5F5F5;
  --bg_formbox:#FBFBFB;
  --color-input: #EDEDED;
  
  --h1-color:rgba(255, 113, 91, 0.9);
  --color-light:#fff;
  --color-dark:#000000;
  
  --bottom-1:#497155;
  --bottom-2: rgba(255, 113, 91, 0.9);
  --border: rgba(105, 161, 126, 0.9);
 
  --bottom-hover-1: #4e845e;
  --bottom-hover-2: rgba(222, 97, 78, 0.9);

  --green-dark:#497155;
  --green-light:#69A17E;
  --green-light-2:#C8F1D4;
}

#cad-body{
  background-image: url("../img/bod-cad.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}